<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Minimal an Admin Panel Category Flat Bootstrap Responsive Website Template | 404 :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Minimal Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>



    <link href="/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel='stylesheet' type='text/css'/>
    <!-- Custom Theme files -->
    <link href="/css/style.css"
          th:href="@{/css/style.css}" rel='stylesheet' type='text/css'/>
    <link href="/css/font-awesome.css"
          th:href="@{/css/font-awesome.css}" rel="stylesheet"/>

    <script src="/js/jquery-3.1.1.min.js"
            th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <!-- Mainly scripts -->
    <script src="/js/jquery.metisMenu.js"
            th:src="@{/js/jquery.metisMenu.js}"></script>
    <script src="/js/jquery.slimscroll.min.js"
            th:src="@{/js/jquery.slimscroll.min.js}"></script>
    <!-- Custom and plugin javascript -->
    <link href="/css/custom.css"
          th:href="@{/css/custom.css}"
          rel="stylesheet"/>
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css"
          th:href="@{'http://www.w3schools.com/lib/w3.css'}"/>
    <script src="/js/custom.js"
            th:src="@{/js/custom.js}"></script>
    <script src="/js/screenfull.js"
            th:src="@{/js/screenfull.js}"></script>
</head>
<body>
<div class="four w3-center">
    <img src="/images/404.png" th:src="@{images/404.png}" alt="alt" />
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    <a href="/main" th:href="@{/main}" class="hvr-shutter-in-horizontal">Go To Home</a>
</div>
<!---->
<div class="copy-right">
    <p> &copy; 2016 Minimal. All Rights Reserved | Design by <a href="http://w3layouts.com/"
                                                                target="_blank">W3layouts</a></p></div>



</body>
</html>

