<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>Minimal an Admin Panel Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Minimal Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <script type="application/x-javascript" th:inline="javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <link href="css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel='stylesheet' type='text/css'/>
    <!-- Custom Theme files -->
    <link href="css/style.css"
          th:href="@{/css/style.css}" rel='stylesheet' type='text/css'/>
    <link href="css/font-awesome.css"
          th:href="@{/css/font-awesome.css}" rel="stylesheet"/>

    <script src="/static/js/jquery-3.1.1.min.js"
            th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <!-- Mainly scripts -->
    <script src="js/jquery.metisMenu.js"
            th:src="@{/js/jquery.metisMenu.js}"></script>
    <script src="js/jquery.slimscroll.min.js"
            th:src="@{/js/jquery.slimscroll.min.js}"></script>
    <!-- Custom and plugin javascript -->
    <link href="css/custom.css"
          th:href="@{/css/custom.css}"
          rel="stylesheet"/>
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css"
          th:href="@{'http://www.w3schools.com/lib/w3.css'}"/>
    <script src="js/custom.js"
            th:src="@{/js/custom.js}"></script>
    <script src="js/screenfull.js"
            th:src="@{/js/screenfull.js}"></script>
    <script src="js/bootstrap.min.js"
            th:src="@{/js/bootstrap.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/list.pagination.js/0.1.1/list.pagination.min.js"
            th:src="@{'https://cdnjs.cloudflare.com/ajax/libs/list.pagination.js/0.1.1/list.pagination.min.js'}"></script>
    <script th:inline="javascript">


        $(function () {
            $('#supported').text('Supported/allowed: ' + !!screenfull.enabled);

            if (!screenfull.enabled) {
                return false;
            }


            $('#toggle').click(function () {
                screenfull.toggle($('#container')[0]);
            });


        });
    </script>


</head>
<body>

<div class="wraper" style="background-color: white">
    <div th:include="fragments/navbars :: headerNavbar"></div>
    <div class="clearfix">
    </div>
    <div id="page-wrapper" class="dashbard-1">
        <div class="w3-container">
            <!--banner-->
            <div class="banner content-header">
                <h2>
                    <a href="#" th:href="@{/main}">Home</a>
                    <i class="fa fa-angle-right"></i>
                    <span>Discount systems</span>
                    <i class="fa fa-angle-right"></i>
                    <a href="#" th:href="@{/main}">Admisitrate ShopMalls</a>
                </h2>
                <a href="#" th:href="@{/shop-networks/add-new-network}">
                    <button class="w3-btn w3-hover-green w3-white w3-border"><i class="fa fa-plus-circle">Add new</i>
                    </button>
                </a>
            </div>
            <!--content-->
            <div class="w3-row">
                <div id="ds" class="w3-margin" style="background-color: white; border-color: #c7ddef">

                    <legend align="center">Shopnetworks</legend>
                    <table align="center" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Subname</th>
                            <th>Url</th>
                            <th>Logo</th>
                            <th>Status</th>
                            <th>Created At</th>
                            <th>Updated At</th>
                            <th>Controls</th>
                        </tr>
                        </thead>
                        <!--/*@thymesVar id="networks" type="java.util.List<ua.kravchenko.youq.entity.ShopNetwork>"*/-->
                        <tbody class="list">
                        <tr th:each="i : ${networks}">
                            <td th:text="${i.id}"></td>
                            <td><a th:href="@{${#httpServletRequest.getRequestURL()}+'/network-info/'+${i.name}}"
                                   th:text="${i.name}"></a></td>
                            <td th:text="${i.subName}"></td>
                            <td th:text="${i.url}"></td>
                            <td><img th:with="maurl = @{'/data/image/small/network/'+${i.name}+'/logo'}"
                                     id="smallimage"
                                     alt="#"
                                     th:src="${maurl}" src="logo"
                                     style="max-height: inherit;max-width: 150px;"
                            /></td>
                            <td th:text="${i.status}"></td>
                            <!--сделать дату создания и дату модификации как дейт-->
                            <td>
                                <p>
                                    <!--${T(com.example.MyType).PROJECT_NAME_MAX_LENGTH}-->
                                    <strong
                                            th:text="${T(ua.kravchenko.youq.entity.Ds).dateFormating(i.created)}">31/12/2015
                                        15:00</strong>
                                </p>
                            </td>

                            <td>
                                <p>
                                    <strong
                                            th:text="${T(ua.kravchenko.youq.entity.Ds).dateFormating(i.modified)}">31/12/2015
                                        15:00</strong>
                                </p>
                            </td>
                            <td style="display: inline-block">
                                <form id="edit-form" name="form"
                                      th:action="@{'/shop-networks/edit/'+${i.name}}"
                                      method="get" th:method="get">
                                    <div class="text-center pull-left w3-padding">
                                        <button class="w3-btn w3-hover-purple  w3-white w3-border center-block w3-round-large"
                                                th:id="post">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </form>

                                <form id="delete-form" name="form"
                                      th:action="@{${#httpServletRequest.getRequestURL()} + '/delete/'+${i.id}}"
                                      th:method="delete">
                                    <div class="text-center pull-left w3-padding">
                                        <button class="w3-btn w3-hover-purple w3-white w3-border center-block w3-round-large"
                                                th:id="delete">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </form>
                            </td>
                            <!--<td class="pull-left">

                            </td>-->
                        </tr>
                        </tbody>
                        <ul class="pagination center-block">
                            <li><a href="#">«</a></li>
                            <li><a class="active" href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">6</a></li>
                            <li><a href="#">7</a></li>
                            <li><a href="#">»</a></li>
                        </ul>
                        <script src="http://listjs.com/assets/javascripts/list.min.js"
                                th:src="@{'http://listjs.com/assets/javascripts/list.min.js'}"></script>
                        <script th:inline="javascript">
                            var options = {
                                valueNames: ['id', 'name', 'url', 'subname', 'back_image', 'color',
                                    'logo', 'phone', 'phone_title', 'subname'],
                                page: 15,
                                plugins: [
                                    ListPagination({})
                                ]
                            };
                            var networksList = new List('ds', options);
                        </script>
                    </table>

                </div>
            </div>

        </div>
    </div>
    <div class="copy">
        <p> &copy; 2016 Minimal. All Rights Reserved | Design by <a href="http://w3layouts.com/"
                                                                    target="_blank">W3layouts</a>
        </p></div>


    <div class="clearfix"></div>
</div>


</body>
</html>