<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>Minimal an Admin Panel Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Minimal Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <script type="application/x-javascript" th:inline="javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <link href="css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel='stylesheet' type='text/css'/>
    <!-- Custom Theme files -->
    <link href="css/style.css"
          th:href="@{/css/style.css}" rel='stylesheet' type='text/css'/>
    <link href="css/font-awesome.css"
          th:href="@{/css/font-awesome.css}" rel="stylesheet"/>
    <script src="/static/js/jquery-3.1.1.min.js"
            th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <!-- Mainly scripts -->
    <script src="js/jquery.metisMenu.js"
            th:src="@{/js/jquery.metisMenu.js}"></script>
    <script src="js/jquery.slimscroll.min.js"
            th:src="@{/js/jquery.slimscroll.min.js}"></script>
    <!-- Custom and plugin javascript -->
    <link href="css/custom.css"
          th:href="@{/css/custom.css}"
          rel="stylesheet"/>
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css"
          th:href="@{'http://www.w3schools.com/lib/w3.css'}"/>
    <script src="js/custom.js"
            th:src="@{/js/custom.js}"></script>
    <script src="js/screenfull.js"
            th:src="@{/js/screenfull.js}"></script>
    <script src="js/bootstrap.min.js"
            th:src="@{/js/bootstrap.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/list.pagination.js/0.1.1/list.pagination.min.js"
            th:src="@{'https://cdnjs.cloudflare.com/ajax/libs/list.pagination.js/0.1.1/list.pagination.min.js'}"></script>
    <script th:inline="javascript">


        $(function () {
            $('#supported').text('Supported/allowed: ' + !!screenfull.enabled);

            if (!screenfull.enabled) {
                return false;
            }


            $('#toggle').click(function () {
                screenfull.toggle($('#container')[0]);
            });


        });
    </script>


</head>
<body>
<div id="wrapper">

    <div th:replace="fragments/navbars :: headerNavbar"></div>
    <div class="clearfix">
    </div>

    <div id="page-wrapper" class="dashbard-1">
        <div class="content-main">
            <!--banner-->
            <div class="banner">
                <h2>
                    <a href="index.html">Home</a>
                    <i class="fa fa-angle-right"></i>
                    <span>Dashboard</span>
                </h2>
                <a href="#" th:href="@{/region/create}">
                    <button class="w3-btn w3-hover-green w3-white w3-border"><i class="fa fa-plus-circle">Add new</i>
                    </button>
                </a>

            </div>
            <!-- <div class="content-top" id="content">-->
            <div id="region" class="w3-margin" style="background-color: white; border-color: #c7ddef">
                <legend align="center">Regions</legend>
                <table id="regions" align="center" class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Country</th>
                        <th>Name Ru</th>
                        <th>Name En</th>
                        <th></th>
                    </tr>
                    </thead>
                    <!--/*@thymesVar id="regions" type="java.util.List<ua.kravchenko.youq.entity.Region>"*/-->
                    <tbody class="list">
                    <tr th:each="region : ${regions}">
                        <td th:text="${region.id}"></td>
                        <td th:text="${region.country}"></td>
                        <td th:text="${region.nameRu}"></td>
                        <td th:text="${region.nameEn}"></td>
                        <td>
                            <p th:text="${region.id}"></p>
                            <form id="form" name="form" th:action="@{'/region/edit/'+${region.id}}"
                                  method="get" th:method="get" th:object="${region}">
                                <div class="text-center pull-left">
                                    <button class="w3-btn w3-hover-purple w3-white w3-border center-block w3-round-large"
                                            th:id="edit">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                    <ul class="pagination center-block ">
                        <li><a href="#">«</a></li>
                        <li><a class="active" href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li><a href="#">7</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                    <script src="http://listjs.com/assets/javascripts/list.min.js"
                            th:src="@{'http://listjs.com/assets/javascripts/list.min.js'}"></script>
                    <script th:inline="javascript">
                        var options = {
                            valueNames: ['id', 'country', 'name ru', 'name en', ''],
                            page: 5,
                            plugins: [
                                ListPagination({})
                            ]
                        };
                        var regionList = new List('regions', options);
                    </script>
                </table>

            </div>
        </div>
    </div>
    <div class="copy">
        <p> &copy; 2016 Minimal. All Rights Reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a>
        </p></div>


    <div class="clearfix"></div>
</div>


</body>
</html>